.skills-tools {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-y: auto;
  justify-content: center;
}

.front-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 100px;
  color: $color-main;
  font-family: $font-second;
  font-weight: 600;
  h3 {
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    font-family: $font-main;
  }
}

.front-tech-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 600px;
  background-color: #fff;
  border-radius: 20px;
}

.front-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.front-img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}
.percentage {
  position: relative;
  top: 10px;
  opacity: 0.5;
}

.back-container {
  height: 330px;
}

.back-tech-container {
  display: flex;
  background-color: #fff;
  border-radius: 20px;
}

.back-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 100px;
  color: $color-main;
  font-family: $font-second;
  h3 {
    font-size: 40px;
    font-family: $font-main;
    color: #fff;
  }
}

.skill-box {
  width: 370px;
  height: 100px;
  margin: 20px;
  .span-title {
    color: #fff;
    font-size: 26px;
    font-family: $font-second;
  }
}

.skill-box-hidden {
  position: absolute;
  background-color: #fff;
  width: 300px;
  height: 25px;
  transform-origin: right;
  z-index: 5;
}

.tools-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 150px;
}

.tools-article {
  display: flex;
  flex-direction: column;
  text-align: center;

  //height: 725px;
  margin-top: 100px;
  h2 {
    color: #fff;
    font-size: 40px;
    font-family: $font-main;
  }
}

.tools-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 480px;
  height: 450px;
  margin: 50px 130px;
  background-color: #fff;
  color: $color-main;
  font-family: $font-second;
  font-weight: 600;
  border-radius: 20px;
}

.tools-img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.tools-img.n1 {
  color: #000;
}

.cv-link {
  padding: 10px;
  background: linear-gradient(to top, #fff 50%, rgba(0, 0, 0, 0) 50%);
  background-size: 100% 210%;
  background-position: bottom;
  color: $color-main;
  text-align: center;
  text-decoration: none;
  font-family: $font-main;
  font-weight: 600;
  font-size: 30px;
  border-radius: 50px;
  transition: all 0.3s;
}

.cv-link:hover {
  background-position: top;
  color: #fff;
}

@media screen and (max-width: 1500px) {
  .skills-tools {
    width: 100%;
  }

  .skills-section {
    width: 50%;
    margin-left: 100px;
  }

  .front-img {
    width: 50px;
    height: 50px;
  }

  .tools-section {
    width: 50%;
    align-items: center;
  }

  .tools-container {
    width: 330px;
    margin: 50px 0px;
  }

  .tools-img {
    width: 50px;
    height: 50px;
    margin: 10px;
  }

  .front-container {
    width: 100%;
  }
  .front-tech-container {
    width: 100%;
  }
}

@media screen and (max-width: 1101px) {
  .skills-tools {
    height: 1350px;
    flex-direction: column;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
  }
  .skills-section {
    width: 100%;
    margin-left: 0;
    margin-top: -150px;
  }

  .front-container {
    h3 {
      font-size: 30px;
    }
  }

  .front-img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    font-size: 12px;
  }

  .front-tech-container {
    width: 480px;
  }

  .back-container {
    h3 {
      font-size: 30px;
    }
  }

  .tools-section {
    margin-left: 0px;
    width: 100%;
  }

  .tools-article {
    margin-top: 0px;
    h2 {
      font-size: 30px;
      margin-right: 30px;
    }
  }

  .tools-container {
    justify-content: center;
    min-width: 300px;
    width: 480px;
    margin: 0px 0px;
  }

  .tools-background {
    width: 100px;
    height: 100px;
  }

  .tools-img {
    width: 70px;
    height: 70px;
    margin: 10px;
  }

  .cv-link {
    position: relative;
    top: 30px;
    left: 0px;
    right: 30px;
    font-size: 26px;
  }
}

@media screen and (max-width: 499px) {
  .skills-tools {
    height: 1400px;
  }
  .front-tech-container {
    width: 300px;
  }

  .back-tech-container {
    flex-wrap: wrap;
    justify-content: center;
    min-width: 300px;
  }

  .tools-article {
    margin-top: 100px;
    h2 {
      font-size: 30px;
      margin-right: 0px;
    }
  }

  .tools-container {
    width: 300px;
  }

  .tools-background {
    width: 70px;
    height: 100px;
  }

  .tools-img {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  .tools-img.n1 {
    height: 75px;
  }

  .cv-link {
    top: 20px;
    font-size: 18px;
  }
}
