.about-me-container {
  display: flex;
  background-color: #fff;
  width: 110%;
  height: 100vh;
  margin-left: -25px;
  margin-top: 0px;
}

#light.about-me-container {
  color: #fff;
  background-color: $color-main;
}

.about-text-container {
  position: relative;
  text-align: center;
  width: 800px;
  height: 600px;
  top: 100px;
  left: 350px;
  h2 {
    font-family: "Yuji Syuku", serif;
    font-weight: 600;
    font-size: 40px;
  }
}

.about-text {
  font-size: 22px;
  color: $color-main;
  font-family: $font-main;
}

.about-box-hidden {
  position: absolute;
  background-color: #fff;
  width: 800px;
  height: 400px;
  transform-origin: bottom;
}

.about-me-img {
  object-fit: cover;
  position: relative;
  top: 150px;
  left: 300px;
  width: 500px;
  height: 600px;
  border-radius: 20px;
}

.blue-square {
  position: absolute;
  background: linear-gradient(to right top, #fff 50%, $color-main 50%);

  width: 250px;
  height: 250px;
  top: 280px;
  left: -150px;
  transform: rotate(45deg);
  transition: left 0.3s;
}

.blue-square:hover {
  left: -140px;
}

.blue-square.none {
  opacity: 0;
}

@media screen and (max-width: 1800px) {
  .about-text-container {
    width: 40%;
    left: 300px;
  }
}

@media screen and (max-width: 1600px) {
  .about-img-container {
    left: 100px;
  }
  .about-text-container {
    width: 40%;
    left: 200px;
  }
}

@media screen and (max-width: 1400px) {
  .about-me-container {
    height: 950px;
  }
  about-img-container {
    left: 50px;
  }
  .about-text-container {
    width: 30%;
    left: 200px;
  }
}

@media screen and (max-width: 1150px) {
  .about-me-container {
    display: flex;
    flex-direction: column;
    height: 1320px;
    margin-left: -35px;
  }
  .about-text-container {
    width: 50%;
    min-width: 450px;
    left: 200px;
    left: 150px;
  }
}

@media screen and (max-width: 650px) {
  .about-me-container {
    height: 1320px;
    width: 120%;
  }

  .about-img-container {
    left: 50px;
    width: 448px;
    height: 548px;
    span {
      top: 180px;
      left: 70px;
    }
  }

  .about-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 450px;
    height: 550px;
    opacity: 0.7;
    margin-top: -1px;
    margin-left: -1px;
  }

  .about-text-container {
    width: 20%;
    min-width: 400px;
    left: 100px;
  }
}

/* */
