@import "./index.scss";
@import "./Home.scss";
@import "./Portfolio.scss";
@import "./Skills&Tools.scss";
@import "./Contact.scss";
@import "./Param.scss";
@import "./AboutMe.scss";
@import "./cv.scss";

////// PHONE
.h2-phone {
  display: none;
}

.angle.down {
  display: none;
}

.angle.up {
  display: none;
}

///

.header-param {
  position: fixed;
  display: flex;
  overflow: hidden;
  z-index: 5;
  width: 100%;
}

header {
  position: fixed;
  display: inline-block;
  width: 98%;
  height: 80px;
  background-color: $color-main;
  z-index: 3;
}

.ul-menu {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  width: 90%;
  margin-left: 80px;
  margin-top: 10px;
}

.li-menu {
  list-style: none;
  overflow: hidden;
  width: 250px;
  margin-top: 5px;
}

.link-menu {
  background: linear-gradient(to right, #fff 50%, rgba(0, 0, 0, 0) 50%);
  background-size: 210% 100%;
  background-position: right bottom;
  overflow: hidden;
  font-size: 40px;
  font-family: $font-main;
  color: white;
  text-decoration: none;
  padding: 0 15px;

  transition: all 0.5s ease-out;
}

.li-menu::before {
  position: absolute;
  content: " ";
  background-color: #fff;
  width: 5px;
  height: 50px;
  margin-left: 0px;
  z-index: 6;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

.link-menu:hover {
  color: $color-main;
  background-position: left bottom;
}

@media screen and (max-width: 1300px) {
  .ul-menu {
    margin-left: 20px;
  }

  .link-menu {
    font-size: 25px;
  }

  .li-menu::before {
    height: 31px;
  }
}

@media screen and (max-width: 1000px) {
  .ul-menu {
    display: flex;
    justify-content: none;
    text-decoration: none;
    width: 87%;
    margin-left: 0px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 700px) {
  header {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;

    z-index: 3;
  }

  .h2-phone {
    display: block;
    position: relative;
    bottom: 10px;
    text-align: center;
    color: #fff;
    font-family: $font-main;
    font-size: 35px;
  }

  .angle.down {
    display: block;
    position: relative;
    bottom: 38px;
    color: #fff;
    font-size: 35px;
  }

  .angle.up {
    display: block;
    position: relative;
    color: #fff;
    font-size: 35px;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $color-main;
    border-bottom: 2px solid #fff;
  }

  .ul-menu {
    display: flex;
    position: relative;
    right: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }

  .li-menu {
    //display: none;
    list-style: none;
    overflow: hidden;
    width: 250px;
    margin-top: 5px;
  }

  .link-menu {
    background: linear-gradient(to right, #fff 50%, rgba(0, 0, 0, 0) 50%);
    background-size: 210% 100%;
    background-position: right bottom;
    overflow: hidden;
    font-size: 30px;
    font-family: $font-main;
    color: white;
    text-decoration: none;
    padding: 0 15px;

    transition: all 0.5s ease-out;
  }

  .li-menu::before {
    display: none;
  }

  .link-menu:hover {
    color: $color-main;
    background-position: left bottom;
  }
}
