.home-box {
  display: flex;
}

.home-text {
  display: inline-block;
  color: #fff;
  width: 800px;
  height: 500px;
  margin: 200px 250px;
  .h-text-1 {
    font-family: "Courier Prime", monospace;
    //font-family: "IBM Plex Mono", monospace;
    font-size: 25px;
    font-weight: 600;
  }
  .h-text-2 {
    background-color: #111;
    font-family: "Yuji Syuku", serif;
    font-weight: 600;
    font-size: 60px;
    padding-left: 20px;
  }
  .h-text-3 {
    font-family: "Courier Prime", monospace;
    font-size: 22px;
  }
}

.black-square {
  position: relative;
  background-color: #111;
  width: 250px;
  height: 250px;
  top: 280px;
  left: 290px;
  transform: rotate(45deg);
}
