.home-page {
  display: flex;
  justify-content: center;
}

.home-section {
  display: inline-block;
  color: #fff;
  width: 65vw;
  height: 500px;
  margin: 250px 0;
}

#light.home-text {
  color: #111;
}

.h-title-box {
  display: flex;
  flex-direction: column;
  font-family: $font-main;
  text-align: center;
  width: 42vw;
  padding-left: 20px;
  color: #fff;
}

.h-title {
  overflow: hidden;
  font-size: 70px;
  font-weight: 600;
}
.h-title-two {
  overflow: hidden;
  font-size: 30px;
}

.h-span {
  position: relative;
}

.h3-home {
  position: relative;
  top: 100px;
  left: 405px;
  font-family: $font-main;
  font-size: 24px;
}

.ul-sites {
  display: flex;
  margin-top: 150px;
}

.li-sites {
  margin-left: 50px;
  padding: 25px;
  height: 25px;
  font-family: $font-second;
  font-size: 20px;
  list-style: none;
  background-color: #fff;
  border-radius: 34px;
}

.li-sites.one {
  height: 25px;
}

.li-sites.two {
  height: 25px;
}

.li-sites:before {
  content: "";
}

.ul-sites-detail {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}

.li-sites-detail {
  margin-left: -35px;
  text-align: center;
  color: $color-main;
  font-size: 14px;
  font-family: $font-second;
  list-style: none;
}

.link-sites {
  padding: 20px;
  text-decoration: none;
  font-weight: 600;
  color: $color-main;
}

.white-square-left {
  position: absolute;
  background-color: #fff;
  width: 250px;
  height: 250px;
  top: 350px;
  left: -600px;
  transform: rotate(45deg);
  transition: left 0.3s;
}

.white-square-left:hover {
  left: -590px;
}

.white-square-right {
  position: absolute;
  background-color: #fff;
  width: 250px;
  height: 250px;
  top: 350px;
  left: 1810px;
  transform: rotate(45deg);
  transition: left 0.3s;
}

.white-square-right:hover {
  left: 1800px;
}

.lignes-container {
  position: absolute;
  bottom: 20px;

  width: 1200px;
}

.lignes {
  background-color: #fff;
  height: 10px;
  margin-top: 10px;
  transform-origin: left;
}

@media screen and (max-width: 1800px) {
  .home-text {
    width: 66.2vw;
    height: 500px;
    margin: 250px 0;
    margin-left: -60px;
  }

  .h-text-2 {
    font-size: 50px;
  }
}

@media screen and (max-width: 1700px) {
  .home-text {
    width: 65vw;
  }
}

@media screen and (max-width: 1500px) {
  .home-text {
    width: 62vw;
    height: 500px;
  }

  .h-text-1 {
    font-size: 20px;
  }

  .h-text-2 {
    font-size: 44px;
  }

  .h-text-3 {
    font-size: 18px;
  }

  .black-square {
    top: 220px;
  }
}

@media screen and (max-width: 1300px) {
  .home-text {
    width: 58.5vw;
    height: 500px;
  }

  .h-text-2 {
    font-size: 37px;
  }
}

@media screen and (max-width: 1100px) {
  .home-text {
    width: 53.2vw;
    height: 500px;
  }

  .h-text-1 {
    font-size: 18px;
  }

  .h-text-2 {
    font-size: 30px;
  }

  .h-text-3 {
    font-size: 16px;
  }

  .black-square {
    width: 200px;
    height: 200px;
    top: 230px;
  }
}

@media screen and (max-width: 900px) {
  .home-text {
    width: 53.2vw;
    height: 500px;
    margin-left: -100px;
  }

  .h-text-2 {
    width: 400px;
    min-width: 300px;
  }
}

@media screen and (max-width: 800px) {
  .black-square {
    display: none;
  }
}
