$color-main: #03224c;
$color-second: rgb(114, 49, 5);

$font-main: "Geologica", sans-serif;
$font-second: "Open Sans", sans-serif;

$square-rotate: rotate(45deg);

@mixin flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/////// CSS
/* {
  cursor: none;
}*/
.cursors {
  background-color: #fff;
  position: fixed;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  z-index: 7;
  pointer-events: none;
  opacity: 1;
}
.cursor-back {
  position: fixed;
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: 6;
  pointer-events: none;
  opacity: 1;
}

body {
  margin: 0;
  overflow: hidden;
}

.App {
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(to right, #03224c 50%, #fff 50%);
  background-size: 210% 100%;
  transition: all 0.5s;
}
