$color-main: #a00e0e;

$font-main: "Yuji Syuku", serif;
$font-second: "Courier Prime", monospace;

* {
  // cursor: none;
}
.cursor {
  background-color: #111;
  position: fixed;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: 6;
  pointer-events: none;
  opacity: 1;
}

body {
  margin: 0;
  overflow-x: hidden;
  //background: linear-gradient(#ff0000, #111);
  background-color: #111;
  --cursor-color: #111;
}
.all-out-page {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100px;
  height: 4000px;
}
.out-page {
  position: relative;
  font-size: 12px;
  color: #fff;
  font-family: $font-second;
  left: 25px;
}
.out-page::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 20px;
  height: 1px;
  bottom: 8px;
  left: 48px;
}
.App {
  width: 90%;
  height: 4000px;
  overflow: hidden;
  margin-left: 100px;
}
#dark.App {
  background-color: $color-main;
}
//////
.header-folder {
  position: absolute;
  color: #fff;
  font-size: 10px;
  font-family: $font-main;
  left: 4px;
}

//////////////////////////////

/*font-family
 Zeyada
Rubik Wet Paint
Covered By Your Grace
Nanum Brush Script
Annie Use Your Telescope
Libre Barcode 39 Text
Jockey One
Mansalva
Chelsea Market
Major Mono Display
Just Me Again Down Here
Nabla
Libre Barcode 128 Text
Long Cang
Splash
Lacquer
Rubik Glitch
Flow Circular
Redacted Script
Yuji Boku
Kolker Brush
Flow Block*/
