.portf-section {
  display: flex;
  transform: rotate(-3deg);
  width: 110%;
  height: 800px;
  margin-top: 80px;
}

#light.portf-section {
  background-color: $color-main;
}

.portf-container {
  position: relative;
  display: flex;
  transform: rotate(3deg);
  width: 900px;
  height: 620px;
  top: 125px;
  left: 160px;
  h2 {
    color: #fff;
    font-family: "Courier Prime", monospace;
    font-size: 40px;
    position: absolute;
    top: -90px;
    left: 40px;
    z-index: 3;
  }
}

#light h2 {
  color: #fff;
}

.portf-container-box {
  background-color: rgba(1, 1, 1, 0.5);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 600px;
  margin: 10px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  transform-style: preserve-3d;
}

.portf-container-box::before {
  content: "";
  background-color: rgba(1, 1, 1, 0.7);
  position: absolute;
  width: 300px;
  height: 80px;
  top: -80px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.remove-slide {
  opacity: 0;
  transform: translateX(-60px);
  transition: all 0.5s;
}

.slide.active {
  transition: all 0.5s;
  transform: translateZ(60px);
}

.portf-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 600px;
  height: 490px;
  margin: 0px 100px;
}
.portf-img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 585px;
  height: 345px;
}
.portf-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: $font-second;
  font-size: 20px;
  width: 500px;
  span {
    font-weight: 600;
    font-family: $font-main;
    text-transform: uppercase;
    //text-decoration: underline;
    margin: 20px;
    width: 210px;
  }
}

.arrow {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 250px 20px;
  color: #fff;
  z-index: 3;
  transform: scale(1);
  transition: all 0.2s ease-out;
}

.arrow:hover {
  transform: scale(1.4);
}

.descrip-container {
  text-align: center;
  width: 500px;
  height: 200px;
  transform: rotate(3deg);
  margin: 300px 250px;
  p {
    color: #fff;
    font-size: 26px;
    font-family: "Courier Prime", monospace;
  }
}

#light.descrip-container {
  color: #fff;
}

.cv-link {
  color: #fff;
  text-decoration: none;
  font-family: "Courier Prime", monospace;
  font-weight: 600;
  font-size: 30px;
}

.cv-link::after {
  content: "";
  position: absolute;
  width: 66%;
  transform: scaleX(0);
  height: 3px;
  bottom: 72px;
  left: 80px;
  background-color: #111;
  transform-origin: right;
  transition: transform 0.25s ease-out;
  border-radius: 20px;
}

#light.cv-link {
  color: #fff;
}

.cv-link:hover::after {
  transform: scale(1);
  transform-origin: left;
}

@media screen and (max-width: 1800px) {
  .portf-container {
    left: 40px;
  }
  .descrip-container {
    margin: 300px 50px;
  }
}

@media screen and (max-width: 1600px) {
  .descrip-container {
    width: 300px;
    margin: 300px 80px;
    p {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .portf-section {
    flex-direction: column;
    height: 1000px;
  }
  .descrip-container {
    width: 500px;
    margin: 200px 200px;
    p {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .portf-container {
    width: 700px;
    height: 420px;
    top: 125px;
    left: 80px;
    h2 {
      font-size: 30px;
      top: -65px;
      left: 20px;
    }
  }

  .portf-container-box {
    width: 500px;
    height: 400px;
  }

  .portf-container-box::before {
    width: 200px;
    height: 50px;
    top: -50px;
  }

  .portf-box {
    min-width: 400px;
    height: 350px;
  }
  .portf-img {
    width: 385px;
    height: 245px;
  }
  .portf-text {
    font-size: 16px;
    width: 300px;
  }
  .arrow {
    width: 40px;
    height: 40px;
    margin: 250px 20px;
  }
}

@media screen and (max-width: 800px) {
  .portf-container {
    width: 700px;
    height: 250px;
    top: 125px;
    left: 20%;
  }

  .portf-container-box {
    width: 400px;
    height: 300px;
  }

  .portf-container-box::before {
    width: 200px;
    height: 50px;
    top: -50px;
  }

  .portf-box {
    min-width: 400px;
    height: 260px;
  }
  .portf-img {
    width: 285px;
    height: 166px;
  }
  .portf-text {
    font-size: 14px;
    width: 210px;
    span {
      margin: 10px;
    }
  }
  .arrow {
    width: 40px;
    height: 40px;
    margin: 150px 0px;
  }

  .portf-section {
    display: flex;
    background-color: #fff;
    transform: rotate(-3deg);
    width: 120%;
    height: 800px;
    margin-left: -40px;
  }
  .descrip-container {
    width: 300px;
    margin: 200px 200px;
    p {
      font-size: 24px;
    }
  }
}
