.portf-section {
  display: flex;
  background-color: #fff;
  transform: rotate(-3deg);
  width: 110%;
  height: 800px;
  margin-left: -40px;
}
.portf-container {
  position: relative;
  display: flex;
  transform: rotate(3deg);
  width: 900px;
  height: 620px;
  top: 125px;
  left: 160px;
  h2 {
    color: #fff;
    font-family: "Courier Prime", monospace;
    // font-family: "Bebas Neue", cursive;
    font-size: 40px;
    position: absolute;
    top: -90px;
    left: 40px;
    z-index: 3;
  }
}
.portf-container-box::before {
  content: "";
  background-color: rgba(1, 1, 1, 0.7);
  position: absolute;
  width: 300px;
  height: 80px;
  top: -80px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.portf-container-box {
  background-color: rgba(1, 1, 1, 0.5);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 600px;
  margin: 10px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  transform-style: preserve-3d;
}

.remove-slide {
  opacity: 0;
  transform: translateX(-60px);

  transition: all 0.5s;
}

.slide.active {
  transition: all 0.5s;
  transform: translateZ(60px);
}

.portf-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 600px;
  height: 490px;
  margin: 0px 100px;
}
.portf-img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 585px;
  height: 345px;
}
.portf-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: $font-second;
  font-size: 20px;
  width: 500px;
  span {
    font-weight: 600;
    font-family: $font-main;
    text-transform: uppercase;
    //text-decoration: underline;
    margin: 20px;
    width: 210px;
  }
}

.arrow {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 250px 20px;
  z-index: 3;
  transform: scale(1);
  transition: all 0.2s ease-out;
}

.arrow:hover {
  transform: scale(1.4);
}

.descrip-container {
  text-align: center;
  width: 500px;
  height: 200px;
  transform: rotate(3deg);
  margin: 300px 250px;
  p {
    font-size: 26px;
    font-family: "Courier Prime", monospace;
  }
}
.cv-link {
  color: #111;
  text-decoration: none;
  font-family: "Courier Prime", monospace;
  font-weight: 600;
  font-size: 30px;
}
.cv-link::after {
  content: "";
  position: absolute;
  width: 66%;
  transform: scaleX(0);
  height: 3px;
  bottom: 72px;
  left: 80px;
  background-color: #111;
  transform-origin: right;
  transition: transform 0.25s ease-out;
  border-radius: 20px;
}

.cv-link:hover::after {
  transform: scale(1);
  transform-origin: left;
}
