.skills-tools {
  display: flex;
  overflow: hidden;
}

.skill-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin-top: 100px;
  h2 {
    color: #fff;
    font-size: 40px;
    font-family: $font-main;
    font-weight: 600;
  }
}
#light.skill-title {
  color: #111;
}

.skill-box {
  width: 370px;
  height: 100px;
  margin: 20px;
  .span-title {
    color: #fff;
    font-size: 26px;
    font-family: $font-second;
    border-bottom: 2px dashed #fff;
  }
}

#light.span-title {
  color: #111;
}

.skill-box-hidden {
  position: absolute;
  background-color: #fff;
  width: 300px;
  height: 25px;
  transform-origin: right;
  z-index: 5;
}

.skill-bar {
  overflow: hidden;
  background-color: #fff;
  width: 300px;
  height: 25px;
  margin-top: 10px;
}

#light.skill-bar {
  background-color: #111;
}

.skill-per {
  position: relative;
  overflow: hidden;
  width: 80%;
  height: 40px;
  font-size: 42px;
  font-family: "Redacted Script", cursive;
  padding-left: 8px;
  bottom: 12px;
  left: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#light.skill-per {
  color: #fff;
}

.percentage {
  float: right;
  color: #fff;
  font-size: 26px;
  font-family: $font-second;
  margin-top: -25px;
}

#light.percentage {
  color: $color-main;
}

.tools-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 600px;
  margin: 100px 100px;
  h2 {
    color: #fff;
    font-size: 40px;
    font-family: $font-main;
  }
}

.tools-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  height: 500px;
  margin: 50px 130px;
}

.tools-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  margin-left: 50px;
}

#light.tools-img {
  margin-left: 0;
  margin-top: 10px;
  margin-left: 15px;
}

#light.tools-background {
  background-color: #111;
  height: 120px;
  width: 130px;
  margin-left: 10px;
  border-radius: 15px;
}

@media screen and (max-width: 1500px) {
  .skill-section {
    width: 600px;
  }

  .tools-section {
    width: 400px;
  }
  .tools-container {
    margin: 50px 30px;
  }
}

@media screen and (max-width: 1300px) {
  .tools-section {
    margin: 100px 0px;
  }
}

@media screen and (max-width: 1100px) {
  .skills-tools {
    flex-direction: column;
    margin-left: 150px;
  }
}

@media screen and (max-width: 650px) {
  .skills-tools {
    margin-left: 0px;
  }
}
