.skills-tools {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.skill-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin-top: 180px;
  margin-left: -70px;
  h2 {
    color: #fff;
    font-size: 40px;
    font-family: $font-main;
    font-weight: 600;
  }
}
#light.skill-title {
  color: #111;
}

.front-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 100px;
  color: $color-main;
  font-family: $font-second;
  font-weight: 600;
  h3 {
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    font-family: $font-main;
  }
}

.front-tech-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 600px;
  background-color: #fff;
  border-radius: 20px;
}

.back-container {
  height: 450px;
}

.back-tech-container {
  display: flex;
  background-color: #fff;
  border-radius: 20px;
}

.front-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.front-img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}
.front-img.n4 {
  width: 133px;
}

.back-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 100px;
  color: $color-main;
  font-family: $font-second;
  h3 {
    font-size: 40px;
    font-family: $font-main;
    color: #fff;
  }
}

.skill-box {
  width: 370px;
  height: 100px;
  margin: 20px;
  .span-title {
    color: #fff;
    font-size: 26px;
    font-family: $font-second;
  }
}

#light.span-title {
  color: #111;
}

.skill-box-hidden {
  position: absolute;
  background-color: #fff;
  width: 300px;
  height: 25px;
  transform-origin: right;
  z-index: 5;
}

.skill-bar {
  overflow: hidden;
  background-color: #fff;
  width: 300px;
  height: 25px;
  margin-top: 10px;
}

#light.skill-bar {
  background-color: #111;
}

.skill-per {
  overflow: hidden;
  position: relative;
  bottom: 16px;
  left: 0px;
  width: 80%;
  height: 40px;
  padding-left: 8px;
  color: $color-main;
  font-size: 42px;
  font-family: "Flow Rounded", cursive;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#light.skill-per {
  color: #fff;
}

.percentage {
  float: right;
  color: #fff;
  font-size: 26px;
  font-family: $font-second;
  margin-top: -25px;
}

#light.percentage {
  color: $color-main;
}

.tools-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 150px;
}

.tools-article {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 750px;
  height: 725px;
  margin-top: 100px;
  h2 {
    color: #fff;
    font-size: 40px;
    font-family: $font-main;
  }
}

.tools-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 480px;
  height: 450px;
  margin: 50px 130px;
  background-color: #fff;
  color: $color-main;
  font-family: $font-second;
  font-weight: 600;
  border-radius: 20px;
}

.tools-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 160px;
}

.tools-img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.tools-img.n1 {
  height: 150px;
}

#light.tools-img {
  margin-left: 0;
  margin-top: 10px;
  margin-left: 15px;
}

#light.tools-background {
  background-color: #111;
  height: 120px;
  width: 130px;
  margin-left: 10px;
  border-radius: 15px;
}

#light.descrip-container {
  color: #fff;
}

.cv-link {
  padding: 10px;

  background: linear-gradient(to top, #fff 50%, rgba(0, 0, 0, 0) 50%);
  background-size: 100% 210%;
  background-position: bottom;
  color: $color-main;
  text-align: center;
  text-decoration: none;
  font-family: $font-main;
  font-weight: 600;
  font-size: 30px;
  border-radius: 50px;
  transition: all 0.3s;
}

.cv-link:hover {
  background-position: top;
  color: #fff;
}

#light.cv-link {
  color: #fff;
}

@media screen and (max-width: 1500px) {
  .skill-section {
    width: 600px;
  }

  .tools-section {
    width: 400px;
  }
  .tools-container {
    margin: 50px 30px;
  }
}

@media screen and (max-width: 1300px) {
  .tools-section {
    margin: 100px 0px;
  }
}

@media screen and (max-width: 1100px) {
  .skills-tools {
    flex-direction: column;
    margin-left: 150px;
  }
}

@media screen and (max-width: 650px) {
  .skills-tools {
    margin-left: 0px;
  }
}
