.section-paperSR {
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20% 20%;
  position: relative;
  justify-content: space-evenly;
  top: 100px;
  width: 100%;
  height: 800px;
}

.btn-action {
  position: relative;
  grid-column: 2/3;
  top: 200px;
  height: 40px;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  font-family: $font-main;
  border: 4px solid #fff;
  border-radius: 5px;
  opacity: 1;
  transition: all 0.2s;
}
.btn-action:hover {
  color: $color-main;
  background-color: #fff;
}

.btn-action::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 4px;
  margin-top: -105px;
  margin-left: 31px;
  background-color: #fff;
}

.btn-action::after {
  content: "";
  position: absolute;
  height: 100px;
  width: 4px;
  margin-top: 30px;
  margin-left: -32px;
  background-color: #fff;
}

.render-action {
  grid-column: 4/5;
  position: relative;
  top: 120px;
  right: 300px;
  width: 200px;
  height: 200px;
  opacity: 1;
  transition: opacity 0.4s;
}

.render-action.none {
  opacity: 0;
}

.container-choices {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.judge-text {
  grid-column: 2 / 3;
  position: absolute;
  margin-left: -55px;
  width: 200px;
  color: #fff;
  font-family: $font-main;
  font-size: 50px;
  text-align: center;
  opacity: 1;
  transition: opacity 0.4s 0.4s;
}

.judge-text.none {
  opacity: 0;
}

.info-text {
  grid-column: 2 / 3;
  position: absolute;
  top: 100px;
  left: -225px;
  color: #fff;
  font-family: $font-main;
  font-size: 50px;
  width: 600px;
}

.hand {
  object-fit: cover;
  position: relative;
  width: 200px;
  //margin-top: 0px;
  padding: 20px;
  //border: 2px solid rgba(255, 255, 255, 0);
  transition: all 0.3s;
}

.hand:hover {
  // border: 2px solid rgba(255, 255, 255, 1);
  transform: scale(1.1);
}

.hand:active {
  transform: scale(0.8);
}

.hand.p,
.hand.s {
  transform: rotate(90deg);
}

.hand.p:hover,
.hand.s:hover {
  transform: scale(1.1) rotate(90deg);
}

.hand.p:active,
.hand.s:active {
  transform: scale(0.8) rotate(90deg);
}

.hand.s {
  left: 45px;
  width: 150px;
}

.hand.p {
  margin-top: 40px;
}

.render-action-player {
  grid-column: 1/2;
  position: relative;
  left: 500px;
  top: 215px;
  color: #fff;
  font-size: 24px;
  font-family: $font-main;
}

.container-score {
  position: relative;
  top: 450px;
  left: 20px;
  grid-column: 2/3;
  color: #fff;
  font-size: 30px;
  font-family: $font-main;
}
